@import "../../node_modules/bulma/css/bulma.css";

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

@sm-padding: 20px;
@md-padding: 40px;
@lg-padding: 80px;

@sm-device-width: 500px;
@md-device-width: 800px;

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  padding: @sm-padding;
}

.heading {
  display: block;
  margin-bottom: @sm-padding;
  font-size: 34px;
}

.comic-container {
  height: 400px;
  width: 100%;
  background-color: #353030;
}

.btn {
  border-radius: 10px;
  border-color: #6f6e6e;
  box-shadow: 0 4px #000000;
  position: relative;
  display: inline-block;
  margin: 15px 30px;
  padding: 15px 20px;
  font-family: inherit;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
}

.btn-large {
  padding: 15px 80px;
}

// I'm thinking this will be my class for buttons and only icons
.btn-small {
  padding: 5px;
}

// TODO: Make hover actions for buttons

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}


.footer {
  flex: 1;
}