* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.navigation {
  list-style: none;
  height: 40px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #6c94be;
  padding: 20px 20px 0 20px;
}
.navigation a {
  display: block;
  margin-right: 20px;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}
.content {
  padding: 20px;
}
.heading {
  display: block;
  margin-bottom: 20px;
  font-size: 34px;
}
.comic-container {
  height: 400px;
  width: 1200px;
  background-color: #353030;
  margin: auto;
}
.footer {
  flex: 1;
}
