<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <div class="content-container">
    <div class="content">
      <% include ../partials/header.ejs %>
      
      <p>This is a normal p tag, with <strong>strong</strong> or <em>italic</em> or <del>strikethrough</del></p>
      <p><a href="#">Link style</a></p>
      <h1>header 1</h1>
      <h2>header 2</h2>
      <h3>header 3</h3>
      <h4>header 4</h4>
      <h5>header 5</h5>
      <blockquote>
        <p>blockquote style</p>
      </blockquote>
      <ul>
        <li>Unordered list style</li>
        <li>Unordered list style</li>
        <li>Unordered list style</li>
      </ul>
      <ol>
        <li>Ordered list style</li>
        <li>Ordered list style</li>
        <li>Ordered list style</li>
      </ol>
      <!-- TODO add image style -->
      <!-- TODO code block style -->
      <!-- TODO style combinations, like header followed by a list/image/code -->
      <button class="btn">button</button>
      <button class="btn btn-large">button</button>
      <button class="btn btn-small">icon</button>
      <a href="#">Anchor</a>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
