<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <div class="content-container">
    <div class="content">
      <% include ../partials/header.ejs %>
         
      <button class="btn">button</button>
      <button class="btn btn-large">button</button>
      <button class="btn btn-small">icon</button>
      <a href="#">Anchor</a>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
