<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <section class="hero is-info is-fullheight">
    <% include ../partials/header.ejs %>
    
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            Coming Soon
          </h1>
          <h2 class="subtitle">
              I'm working as hard as I can...
          </h2>
          <p>
            : )
          </p>
        </div>
      </div>
    </div>

    <% include ../partials/footer.ejs %>
  </div>
  
</body>
</html>
