<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="header">
    Rainbow Scratch
  </div>
  <div class="container">
    <div class="heading">
      <h1>Welcome</h1>
    </div>
    <div class="stage-area">
      <p>comic</p>
    </div>
  </div>

  <footer class="footer">rainbowscratch all rights reserved</footer>
</body>
</html>
